body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 180px;
  width: 130%;
  max-width: 500px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 30px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  text-align: center;
  background: linear-gradient(135deg, #f0f2f5, #80bee5);
}

#h1 h1 {
  margin-bottom: 20px;
  color: #050505;
  font-size: 28px;
}

#h2, #h3 {
  margin-bottom: 15px;
  text-align: left;
}

#h1 label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #665f5f;
}

#h1 input[type="email"], 
#h1 input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#h1 button[type="submit"], 
#h1 button[type="submit2"] {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#h1 button[type="submit"] {
  background-color: #c804e1;
}

#h1 button[type="submit"]:hover {
  background-color: #000000;
}

#h1 button[type="submit2"] {
  background-color: grey;
  margin-top: 5px;
}

#h1 button[type="submit2"]:hover {
  background-color: #049bff;
}

.cross11 {
  position: fixed;
  top: 20px; 
  right: 20px;
  cursor: pointer;
  font-size: 25px;
  color: #000000;
}

#h1 .error-message {
  color: red;
}
