.booking-page-container {
    margin-top: 110px;
    padding: 20px;
}

.booking-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.booking-card {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0.6, 0.6, 0.6, 0.6);
    border-radius: 10px;
    text-align: center;
}

.booking-card h2 {
    margin: 0 0 10px;
}

.booking-card p {
    margin: 5px 0;
}

.cross68 {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 25px;
    color: #000000;
}
