body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#home {
  background-color: #f0efef;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 15px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 70px;
  height: auto;
}

.logo-name {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
  font-size: 2.4rem;
  letter-spacing: 2px;
  color: #fff; 
  text-shadow: 4px 4px 9px rgba(0 ,0 ,0 , 0.9);
}

.nav-button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  color: #000;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-right: 30px;
  margin-bottom: 5px;
  transition: background-color 0.9s, transform 0.4s;
}

.nav-button:hover {
  background-color: #e0e0e0;
  transform: scale(1.20);
}
.nav-button img {
  height: 24px;
  width: auto; 
}
#boatshowcase1 {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
