/* BoatShowcase.css */

.boat-showcase-container {
    margin-top:1300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.347); /* Light blue background */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.boat-showcase-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #00796b; /* Teal color for the heading */
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    border: 1px solid #00796b; /* Teal border */
    border-radius: 4px;
    width: 300px;
}

.boat-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.boat-card {
    background-color: #ffffff;
    border: 1px solid #00796b; /* Teal border */
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.boat-card:hover {
    transform: translateY(-10px);
}

.boat-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.boat-card h2 {
    margin: 10px 0;
    color: #00796b; /* Teal color for boat names */
}

.boat-card p {
    color: #333;
}

.boat-price {
    font-size: 18px;
    font-weight: bold;
    color: #d32f2f; /* Red color for the price */
}
