#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #profile h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  #profile p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .sign-out-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #c804e1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-out-button:hover {
    background-color: #000000;
  }
  