.profile-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 110px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: linear-gradient(135deg, #f0f2f5, #80bee5);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 30px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profile-container h1 {
  margin-bottom: 20px;
  color: #050505;
  font-size: 28px;
}

.profile-details {
  text-align: left;
  margin-bottom: 20px;
}

.profile-details p {
  margin: 10px 0;
  font-size: 18px;
}

.profile-details p strong {
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
  background-color: #000000;
}

.cross4 {
  position: fixed;
  top: 20px; 
  right: 20px;
  cursor: pointer;
  font-size: 25px;
  color: #000000;
}

.profile-container .cross4 {
  position: fixed;
  top: 20px; 
  right: 20px;
  cursor: pointer;
  font-size: 25px;
  color: #000000;
}


.usser-container {
  background: linear-gradient(135deg, #f0f2f5, #a19f9f);
  padding: 20px;
  border-radius: 12px;
  display: inline-block;
  margin-left: 200px;
}
.usser:hover{
  transform: scale(1.30);
}
.usser {
  height: 154px;
  width: auto;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  transition: background-color 0.9s, transform 0.4s;
}

