#h11 {
    width: 120%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #f3f3f3;
    box-shadow:  8px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  #h11 h1 {
    margin-bottom: 20px;
    color: #050505;
    font-size: 33px;
  }
  
  #h12, #h13 , #h14 {
    margin-bottom: 15px;
    text-align: left;
  }
  
  #h11 label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #665f5f;
  }
  

 #h11 input[type="text"],input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

 #h11 button[type="submit"] {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    padding: 10px;
    background-color: #c804e1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    
  }

  #h11 button[type="submit"]:hover {
    background-color: #000000;
  }
  